body{
background-color: #f2f2f2;
font-size: 15px;
font-family: 'Lexend Deca', sans-serif;
justify-content:center;
align-items: center;
/*
font-weight: normal;
*/
}


p {
  color: #ffffff;
  padding: 40px;
  padding-top: 15px;
  padding-bottom: 60px;
  text-decoration: none;
  font-weight: 100;
  opacity: 60%;
  line-height: 1.5;
}

h1 {
  color: 	#f2f2f2;
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 40px;
}

img {
  padding-top: 40px;
  padding-left: 40px;
}

/*******************ORIGINAL CODE***************
.wrapper {
width: 930px;
height: 500px;
position: absolute;
margin: 200px 200px 300px 200px;
}

.sedans {
	background-color: #e38826;
  height: 100%;
  width: 33.3%;
  position: absolute;
  display: inline-block;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.suvs {
  background-color: 	#006970;
  height: 100%;
  width: 33.4%;
  position: absolute;
  left: 33.3%;
  display: inline-block;
}

.luxury {
  background-color: #004241;
  position: absolute;
  left: 66.7%;
  display: inline-block;
  height: 100%;
  width: 33.3%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
***********************************************/





.btn-sedan {
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  border: solid #f2f2f2 2px;
  font-family: 'Lexend Deca', sans-serif;
  color: #e38826;
  font-size: 15px;
  background: #f2f2f2;
  padding: 15px 25px 15px 25px;
  text-decoration: none;
  position: relative;
  left: 40px;
}

.btn-sedan:hover {
  background: #e38826;
  text-decoration: none;
  color:#f2f2f2;
}


.btn-suvs {
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  border: solid #f2f2f2 2px;
  font-family: 'Lexend Deca', sans-serif;
  color: #006970;
  font-size: 15px;
  background: #f2f2f2;
  padding: 15px 25px 15px 25px;
  text-decoration: none;
  position: relative;
  left: 40px;
}

.btn-suvs:hover {
  background: #006970;
  text-decoration: none;
  color:#f2f2f2;
}



.btn-luxury {
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  border: solid #f2f2f2 2px;
  font-family: 'Lexend Deca', sans-serif;
  color: #004241;
  font-size: 15px;
  background: #f2f2f2;
  padding: 15px 25px 15px 25px;
  text-decoration: none;
  position: relative;
  left: 40px;
}

.btn-luxury:hover {
  background: #004241;
  text-decoration: none;
  color:#f2f2f2;
}

.attribution {
  /*
  position: fixed;
  bottom: 20px;
  text-align: center;
  left: auto;
  */
  position: fixed;
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;

}


/*****************FLEX BOX TRIAL*******************/
.wrapper {
width: 930px;
height: 500px;
display: inline-flex;
flex-direction: row;
margin: auto;
position: absolute;
top: 25%;
left: 25%;
}

.sedans {
	background-color: #e38826;
  height: 100%;
  width: 33.3%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  order: 1;
}

.suvs {
  background-color: 	#006970;
  height: 100%;
  width: 33.4%;
  order: 2;
}

.luxury {
  background-color: #004241;
  height: 100%;
  width: 33.3%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  order: 3;
}
